body{
    display:flex;
    justify-content:center;
   height:90vh;
   align-items:center;
   background-color:navy
  
  }
  
  .container{
    background-color:white;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 6px orangered;
    width: 50vmin;
    height:70vmin;
    padding:2vmin;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-size: 4vmin;
    text-align:center;
    border:  1px solid black;
  }
  
  .container p{
    background-color:orange;
    padding:2vmin;
    border-radius: 12px;
  }
  
  .container  p:first-child{
    padding:2vmin;
    background-color: white;
    border-radius: 12px;
    font-size: 5vmin;
  }
  
  input{
    margin:2vmin;
    font-size: 4vmin;
  }